@model IEnumerable<MVC_CodeFirst.Models.Movie>
@{
    ViewBag.Title = "ByDirector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies By Director</h2>

<table class="table table-bordered">
    <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Release Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MovieName</td>
            <td>@item.DirectorName</td>
            <td>@item.DateOfRelease.ToShortDateString()</td>
        </tr>
    }
</table>

